html, body {
	height: 100%;
}

form {
	margin: 0px;
}

form input {
	margin-top: 0px;
}

form fieldset {
	padding: 10px;
}

label {
	display: inline-block;
	width: 8em;
}

table {
	cursor: default;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	box-shadow: none;
	cursor: not-allowed;
	opacity: 0.35;
	pointer-events: none;
}

.detailMagnifier {
	color: #d3d3d3;
	cursor: pointer;
}

.detailMagnifier:hover {
	color: #808080;
	cursor: pointer;
}

.sortInactive {
	color: #d3d3d3;
}

.form-control {
	margin: 0px 0 5px 0;
}

.glyphicon-star:before {
	content: "\e006";
	position: absolute;
}

.glyphicon-star-empty:before {
	content: "\e007";
	position: absolute;
}

.glyphicon-star-half:before {
	content: "\e006";
	width: 46%;
	overflow: hidden;
	position: absolute;
}

.loggedIn {
	display: block;
}

.loggedOut {
	display: none;
}

.magnifierTable {
	width: 30px;
}

.navbar-static-top {
	margin-bottom: 19px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #fff;
	background-color: #0088CC;
}

.plot {
	text-align: justify;
	margin-left: 5.2em;
	margin-top: -25px;
}

.rating .stars, #filterStars {
	color: #ffd700;
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
}

.stars, #filterStars {
	color: #ffd700;
	font-size: 140%;
	display: inline-block;
}

.switch-wrapper {
	display: inline-block;
	position: relative;
}

.switch-button-background {
	position: relative;
	width: 50px;
	height: 20px;
	float: left;
	background-color: #ccc;
	border: 1px solid #aaa;
	margin: 1px 10px;
	border-radius: 5px;
	cursor: pointer;
}

.switch-button-button {
	position: absolute;
	top: -2px;
	width: 25px;
	height: 20px;
	left: 14px;
	background-color: #fafafa;
	border: 1px solid #aaa;
	margin: 1px 10px;
	border-radius: 5px;
	cursor: pointer;
}

.switch-button-label {
	height: auto;
	float: left;
	cursor: pointer;
	vertical-align: middle;
}

.switch-button-label.on {
	color: #0088CC;
}

.switch-button-label.off {
	color: #adadad;
}

.table thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #0088CC;
}

#closeDetailedView {
	left: -20px;
	font-size: inherit;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
}

#chooseTable {
	display: none;
}

#detailedView {
	display: none;
	height: 90%;
	width: 100%;
	position: absolute;
	right: -100%;
	background-color: #fff;
	cursor: default;
}

#home {
	width: 100%;
	height: 90%;
	position: absolute;
	left: 0;
}

#loginButton, #logoutButton {
	margin-top: 2px;
}

#sortButtonTitle {
	margin-left: 40px;
	margin-top: -20px;
}

#sortButtonRating {
	margin-left: 90px;
	margin-top: -20px;
}

#filterResetButton {
	float: right;
	margin-top: 0px;
	margin-bottom: 0px;
}

#loginDropdown {
	width: 250px;
}

#register {
	padding-left: 75px;
	padding-bottom: 0px;
	padding-top: 0px;
}
