html, body {
	height: 100%;
}

label {
	display: inline-block;
	width: 8em;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.form-control {
  margin: 5px 0 5px 0;
}

#detailedView {
	display: none;
	height: 90%;
	width: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 1060;
}

#loginButton ,
#logoutButton{
	margin-top: 2px;
}